<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager App</title>
    <link rel="stylesheet" href="/styles/style-list.css">
</head>
<body>
    <nav>TASK MANAGER APP</nav>
    <div class="container">
        <a href="/tasks/add"><button class="add-button"> Add tasks</button></a>

        <table>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Tasks</th>
                    <th>Checkbox</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% tasks.forEach(task => { %>
                    <tr>
                        <td><%= task.id %></td>
                        <td>
                            <a href="/tasks/single-task/<%= task.id %>"><%= task.task %></a>
                        </td>
                        <td>
                            <form action="/views/Add-task.ejs" method="post">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="check" id="check" <%= task.check ? 'checked' : '' %> disabled>
                                    <span class="checkmark"></span>
                                </label>                           
                             </form>
                        </td>
                        <td>
                            <a href="/tasks/edit/<%= task.id %>" class="edit-button">Edit</a>
                            <form action="/tasks/delete/<%= task.id %>?_method = DELETE" method="post" style="display: inline;">
                                <button type="submit" class="delete-button" id="delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <footer>
        <h3>Created by Ossai Mark</h3>
    </footer>
</body>
</html>
